<%- include('partials/header') %>
<div class="description">
  <h1>Welcome all of you</h1>
  <hr />
  <p>To see other post Login please</p>
  <p>To post your contnet frist singup</p>
</div>
<footer></footer>

<%- include('partials/footer') %>
